<mat-toolbar color="primary">

    <mat-toolbar-row>
        <a routerLink="/home" routerLinkActive="active"><mat-icon class="example-icon">home</mat-icon></a>
      <span>eShop</span>
      <span class="example-spacer"></span>
      <a routerLink="/cart" routerLinkActive="active"><mat-icon class="example-icon">shopping_cart</mat-icon></a>
      <p>{{items_in_cart}}</p>
    </mat-toolbar-row>
  
  </mat-toolbar>
  
  <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>Categories
      <p>add some filter criteria checkboxes</p>
      <p>Note:- This is a online shopping demonstration using angular 4+ with Node app, with only few features, can be expanded</p>
      <p>add to cart<br/>
      infinite scroll<br/>
      add/update/delete items in cart</p>
      <p>Angular Material UI components used</p>
    </mat-drawer>
    <mat-drawer-content class="search-results"
    infiniteScroll
    [infiniteScrollDistance]="1"
    [infiniteScrollUpDistance]="1.5"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScrollDown()"
    (scrolledUp)="onScrollUp()"
    [scrollWindow]="false">

  
      <mat-card class="example-card" *ngFor="let p of products">
        <img mat-card-image src={{p.image}}>
        <mat-card-content>
          <p>
            {{p.name}}
          </p><br/>
          <i>Rs.{{p.price}}</i>
        </mat-card-content>
        <mat-card-actions>
            <button mat-icon-button color="accent">
                <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
              </button>
          <button mat-button mat-stroked-button color="primary" (click)="addtocart($event, p)">Add to cart</button>
        </mat-card-actions>
      </mat-card>

      <mat-spinner *ngIf="spinnerShow"></mat-spinner>
  
    </mat-drawer-content>
  </mat-drawer-container>